__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/
dist/
build/
.venv/
venv/
env/
.env
*.log
db.sqlite3
db.sqlite3-journal
.git/
.gitignore
*.md
Notes/
staticfiles/
__pycache__/
.dockerignore
Dockerfile
docker-compose.yml
.docker/
