{% extends 'blog/base.html'%}
{%block content%}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center mb-5">Just a Little About Me :)</h1>
                <p class="text-justify">From the fascinating exploration of how computers work under the hood to becoming a Computer engineer. The journey has been a thrilling odyssey. </p>
                <p class="text-justify">It was the morning of my school days when my uncle bought a PC for me just after computer was introduced to me back in the year 2009. Since then growing up playing games , exploiting the bugs. The excitement and challenges along the way have shaped my path, leading me towards a fulfilling career in computer engineering.</p>
                <p class="text-justify">Engineering Blog Always fascinated me towards the Engineering, during my College days so, i made one for Engineers</p>
                <p class="text-center">Hope You Liked it <span class="text-danger">&hearts;</span></p>
                <p class="text-center"><a href="https://www.linkedin.com/in/sanchit339/">Sanchit.</a></p>
            </div>
        </div>
    </div>
{% endblock content %}